h1 {
    color: black;
    text-align: center;  
    margin:auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
        
 }
 body{
    background-color:greenyellow
 }